@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "NhaXuatBan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Nhà Xuất Bản</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container">
        <h2>Danh Sách Nhà Xuất Bản</h2>
        <div>
            <input type="text" id="txtSearch" placeholder="Nhập từ khóa tìm kiếm">
            <button type="button" onclick="search()">Tìm kiếm</button>
        </div>
        <p>
            <a class="btn btn-primary" asp-action="ThemNXB">Thêm NXB</a>
        </p>
        <table id="tblKhachHang" class="table table-striped table-bordered dgTable">
            <tr>
                <th>Mã NXB</th>
                <th>Địa Chỉ</th>
                <th>Tên NXB</th>
            </tr>
            <tbody id="allKH">
            </tbody>
        </table>
    </div>
</body>
    <script type="text/javascript">
        $(document).ready(function () {
            GetAllNXB();
        });
        //hàm lấy ra toàn bộ danh sách khách hàng
        function GetAllNXB() {
            $.ajax({
            url: 'https://localhost:7113/api/nxbapi',
                type: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                },
                success: function (reponse) {
                    for (var i = 0; i <= reponse.length; i++) {
                        const nxbRow = reponse[i];
                        const strHtml = '<tr><td>' + nxbRow.maNxb + '</td><td>'
                            + nxbRow.diaChi + '</td><td>' + nxbRow.tenNxb +
                        '</td><td> <button class="btn btn-primary"  onclick="chuyenLink(\'' + nxbRow.maNxb + '\')">Sửa</button> </td >' +
                            '<td><button class="btn btn-primary" onclick="deleteNXB(\'' + nxbRow.maNxb + '\')" >Xóa</button> </td >< /tr>';
                        $('#allKH').append(strHtml)
                    }
                },
                fail: function (response) {
                }
            });
        }
    function search() {
        var keyword2 = $('#txtSearch').val();
        $.ajax({
            type: "GET",
            url: "https://localhost:7113/api/nxbapi/" + keyword2,
            dataType: "json",
            success: function (response) {
                var tblHtml = '';
                for (var i = 0; i < response.length; i++) {
                    tblHtml += '<tr>';
                    tblHtml += '<td>' + response[i].maNxb + '</td>';
                    tblHtml += '<td>' + response[i].diaChi + '</td>';
                    tblHtml += '<td>' + response[i].tenNxb + '</td>';
                    tblHtml += '<td> <button class="btn btn-primary" onclick="chuyenLink(\'' + response[i].maNxb + '\')">Sửa</button></td>';
                    tblHtml += '<td> <button class="btn btn-primary" onclick="deleteTheLoai(\'' + response[i].maNxb + '\')">Xóa</button></td>';
                    tblHtml += '</tr>';
                }
                $('#allKH').html(tblHtml);
            },
            error: function () {
                alert('Lỗi khi tìm kiếm NXB');
            }
        });
    }
         function chuyenLink(id) {
            var url = 'https://localhost:7113/admin/homeadmin/SuaNXB?MaNxb=' + id;
            window.location.href = url;
        }
    function deleteNXB(idKH) {
        var url = 'https://localhost:7113/api/nxbapi?id=' + idKH;
        $.ajax({
            url: url,
            method: 'DELETE',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {
                alert("Xóa không thành công")
            },
            success: function (reponse) {
                alert("Xóa thành công");
                window.location = 'https://localhost:7113/admin/homeadmin/NhaXuatBan';
            }
        });
    }
    </script>


